flask



flask-mongoengine

Flask==0.10.1
Flask-Admin==1.0.8
Flask-Cache==0.13.1
Flask-ErrorMail==0.2.2
Flask-Gravatar==0.4.1
Flask-Login==0.2.11
Flask-Mail==0.9.1
Flask-OAuthlib==0.7.0
Flask-SQLAlchemy==2.0
Flask-Testing==0.4.2
Flask-WTF==0.10.3

